.tab-headings {
    .tab {
        margin: 0 0.75rem;
    }
}

.matches {
    list-style: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;

    li {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;

        &:hover {
            .action {
                opacity: 1;
            }
        }
    }

    .spacer {
        width: 4rem;
        text-align: center;
        font-weight: 500;
        font-size: 0.75rem;
    }

    .team1,
    .team2 {
        width: 12rem;
        font-weight: 500;
        padding: 0 0.5rem;
        border: 0.125rem solid darken(#ecf2f6, 10%);
        border-radius: 0.25rem;
        background: white;
        outline: none;

        &.active {
            background: #47bac1;
            color: white;
            border-color: transparent;
        }

        &[disabled].active.locked.winner {
            border-color: #00a989;
            background-color: #00a989;
        }

        &[disabled].active.locked:not(.winner) {
            background-color: #c14e47;
            border-color: #c14e47;
        }

        &.saved {
            position: relative;

            &:before {
                content: '\f00c';
                font-family: 'Font Awesome 5 Pro';
                font-weight: 400;
                position: absolute;
                top: -0.6rem;
                right: -0.6rem;
                font-size: 1rem;
                width: 1.25rem;
                height: 1.25rem;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #354052;
                color: white;
                border-radius: 99rem;
                font-size: 0.8rem;
            }
        }
    }

    .team1 {
        text-align: right;

        img {
            margin-left: 0.5rem;
        }
    }

    .team2 {
        text-align: left;

        img {
            margin-right: 0.5rem;
        }
    }

    img {
        width: 2.5rem;
    }

    span {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 0.75rem;
        letter-spacing: 1px;
    }
}

.results {
    width: 37.5rem;
    list-style: none;
    margin: 1.5rem auto 0 auto;
    padding: 0 0.5rem;
    counter-reset: result 3;

    li {
        margin-top: 0.75rem;
        background: white;
        border-radius: 0.25rem;
        padding: 0.75rem 1rem 0.75rem 1.75rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        &:before {
            counter-increment: result;
            content: counter(result);
            display: block;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(-50%, -50%);
            width: 30px;
            height: 30px;
            text-align: center;
            border-radius: 99rem;
            line-height: 24px;
            background: #ecf2f6;
            border: 3px solid white;
            font-size: 0.85rem;
            font-weight: 300;
        }
    }

    .correct {
        font-size: 1.125rem;

        em {
            font-size: 1rem;
            margin-right: 0.25rem;
        }
    }
}

.standings {
    display: flex;
    width: 37.5rem;
    align-items: flex-end;
    margin: 0 auto;

    .standing {
        flex: 1;
        text-align: center;

        .step {
            background: linear-gradient(to bottom, #354052, darken(#354052, 10%));
            position: relative;
        }

        &:nth-child(1) {
            .step {
                height: 100px;
                z-index: 5;
                background: linear-gradient(to bottom, #45536b, darken(#45536b, 10%));
                transform: translateY(2px);

                &:before,
                &:after {
                    content: '';
                    background: inherit;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    box-shadow: 0 2px 4px 0 fade-out(#1e252f, 0.5);
                }

                &:before {
                    transform: skewX(7deg) translateX(-6px);
                }

                &:after {
                    transform: skewX(-7deg) translateX(6px);
                }

                .inner {
                    background: inherit;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    z-index: 6;
                }
            }
        }

        &:nth-child(2) {
            order: -1;

            .step {
                height: 75px;
                transform: skewX(10deg);
                box-shadow: 0 2px 4px 0 #1e252f;
            }
        }

        &:nth-child(3) {
            .step {
                height: 60px;
                transform: skewX(-13deg);
                box-shadow: 0 2px 4px 0 #1e252f;
            }
        }

        .name {
            display: block;
            font-size: 0.9rem;
        }

        .total {
            display: inline-block;
            background: #adabab;
            color: white;
            padding: 0.325rem 0.75rem;
            border-radius: 99rem;
            line-height: 1em;
            margin: 0.5rem 0 1rem 0;
            font-size: 1.125rem;

            em {
                font-size: 1rem;
                margin-right: 0.25rem;
            }
        }
    }
}

.cut-off {
    margin-top: 0;
    margin-bottom: 1.5rem;
    text-align: center;
    letter-spacing: 1px;
}
