.game-selection {
    .teams {
        display: flex;
        flex-wrap: wrap;
    }

    button {
        width: 3rem;
        height: 3rem;
        border: 0.125rem solid darken(#ecf2f6, 10%);
        border-radius: 0.25rem;
        margin-right: 0.25rem;
        margin-top: 0.25rem;
        padding: 0.25rem;

        &[disabled] {
            opacity: 1;
            background: darken(#ecf2f6, 10%);

            img {
                opacity: 0.6;
            }
        }
    }
}

.box {
    label {
        font-weight: 500;
    }
}

.matches {
    list-style: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;

    li {
        display: flex;
        align-items: center;
        border: 0.125rem solid darken(#ecf2f6, 10%);
        border-radius: 0.25rem;
        margin-top: 0.5rem;

        &:hover {
            .action {
                opacity: 1;
            }
        }
    }

    button {
        display: flex;
        align-items: center;
        text-align: left;
        flex: 1;
        border-radius: 0;
        outline: none;

        &.active {
            background: #47bac1;
            color: white;
        }
    }

    .spacer {
        width: 3rem;
        text-align: center;
        font-weight: 500;
        font-size: 0.75rem;
    }

    .team1,
    .team2 {
        flex: 1;
        font-weight: 500;
        padding: 0 0.5rem;
    }

    .team1 {
        text-align: right;
    }

    .team-logo {
        width: 3.5rem;
        text-align: center;

        img {
            width: 2.5rem;
        }
    }

    .action {
        width: 2rem;
        text-align: center;
        opacity: 0;
        transition: all 0.3s ease-in-out;
    }
}
