<template>
    <div>
        <div class="box game-selection">
            <div class="teams">
                <button type="button"
                    v-for="team in teams"
                    :title="team.name"
                    :data-id="team.id"
                    @click="addTeam(team.id)"
                    :disabled="isSelected(team.id)"
                >
                    <img :src="team.logo">
                </button>
            </div>
        </div>

        <div class="box" v-if="matches.length > 0">
            <label>Matches</label>
            <ul class="matches">
                <li v-for="(match, index) in matches">
                    <div class="action">
                        <input type="hidden" :name="`match[${index}][team1]`" :value="match.team1.id">
                        <input type="hidden" :name="`match[${index}][team2]`" :value="match.team2.id" v-if="match.team2 !== null">
                        <input type="hidden" :name="`match[${index}][id]`" :value="match.id">
                    </div>
                    <div class="team1">
                        {{ match.team1.name }}
                    </div>
                    <div class="team-logo">
                        <img :src="match.team1.logo">
                    </div>
                    <div class="spacer">VS</div>
                    <div class="team-logo">
                        <img :src="match.team2.logo" v-if="match.team2 !== null">
                    </div>
                    <div class="team2">
                        {{ match.team2 !== null ? match.team2.name : '' }}
                    </div>
                    <div class="action">
                        <button type="button" @click="removeMatch(index)">
                            <em class="far fa-minus-circle"></em>
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
export default {
    props: ['teams', 'games'],

    data() {
        return {
            matches: [],
            ids: [],
        };
    },

    methods: {
        isSelected(id) {
            return this.ids.includes(id);
        },
        addTeam(id) {
            const team = this.teams.find(item => item.id === id);

            if (this.matches.length > 0 && this.matches[this.matches.length - 1].team2 === null) {
                this.matches[this.matches.length - 1].team2 = team;
            } else {
                this.matches.push({
                    id: null,
                    team1: team,
                    team2: null,
                });
            }

            this.ids.push(id);
        },
        removeMatch(index) {
            const match = this.matches[index];

            this.ids = this.ids.filter(item => item !== match.team1.id && item !== match.team2.id);
            this.matches.splice(index, 1);
        },
    },

    mounted() {
        this.games.forEach((game) => {
            this.matches.push({
                id: game.id,
                team1: this.teams.find(item => item.id === game.team1_id),
                team2: this.teams.find(item => item.id === game.team2_id),
            });

            this.ids.push(game.team1_id);
            this.ids.push(game.team2_id);
        });
    },
};
</script>
